.selected{
	background-color: LightCyan ;
}
.selectpath{
	border: 1px dashed navy; 
}
.mouseover:hover,
table.tablehover td:hover{
	border: 1px dotted navy; 
	/*
	border: 1px dashed navy; 
	border: 1px dotted lime; 
	border: 1px dotted blue; 
	border: 1px dotted green; 
	*/
}
.record-highlight-parent { border: 1px dotted green; }
.hover:hover{
	background-color: LightCyan;
}
span.h1{
	font-size: 24px;
}
