.selected{
	background-color: DarkKhaki ;
	/*
	background-color: BurlyWood ;
	background-color: LightCyan ;
	background-color: DarkSeaGreen ;
	*/
}
.selectpath{
	border: 1px dotted navy; 
}
.selectedServer{
	background-color: BurlyWood ;
	/*
	background-color: DarkKhaki ;
	background-color: DarkSeaGreen ;
	background-color: LightCyan ;
	*/
}
.doseDialog{
	background-color: DarkSeaGreen ;
	/*
	background-color: DarkOrange ;
	background-color: Cornsilk ;
	background-color: BurlyWood  ;
	background-color: AliceBlue ;
	*/
}
ul.heightMin {
	margin-bottom:0;
}
table.dose{
	width: 600px;
	/*
	width: 100%;
	*/
}
.bold {
	font-weight: bold;
}
.mouseover:hover,
table.tablehover > tbody > tr > td:hover{
	border: 1px dashed navy; 
	/*
	border: 1px dashed navy; 
	border: 1px dotted lime; 
	border: 1px dotted blue; 
	border: 1px dotted green; 
	*/
}
table.tablehover > tbody > tr > td.nohover:hover{
	border: 0px dashed navy; 
}
.record-highlight-parent { border: 1px dotted green; }
.hover:hover{
	background-color: LightCyan;
}
span.h1{
	font-size: 24px;
}
