<!DOCTYPE html>
<html ng-app="cuwyApp" ng-controller="drugCtrl">
<head>
	<meta charset="utf-8" />
	<title>{{siteMap.title}}</title>
	<link href="/css-vendor/bootstrap.css" rel="stylesheet"/>
	<link href='/css-vendor/font-awesome.min.css' rel='stylesheet prefetch'/>
	<link href="/css/cuwy1-cpoe-hol1.css" rel="stylesheet"/>
</head>

<body data-key-cuwytrap="" >
	<a id="focus_minus_2"
		data-ng-class="{'selected': drugDocument.pageDeepPositionIndex == -2}"
		href="home.html"><span class="glyphicon glyphicon-home"></span></a>
/	<a id="focus_minus_1"
		data-ng-class="{'selected': drugDocument.pageDeepPositionIndex == -1}"
		href="drugs.html">Список ліків</a>
/	<a id="focus_0"
		data-ng-class="{'selected': drugDocument.pageDeepPositionIndex == 0}"
		href="drug.html?id={{parameters.id}}"> <span class="h1">
			<u>{{drugDocument.DRUG_NAME}}</u> {{siteMap.name}}</span>
	</a>
	<span class="navbar-right">
		<ul class="nav nav-pills">
			<li><a href="patients.html">пацієнти</a></li>
			<li><sub>.</sub></li>
			<li><a href="protocols.html">шаблони</a></li>
			<li><a href="protocols.html">протоколи</a></li>
			<li><a href="drugs.html">ліки</a></li>
			<li><sub>.</sub></li>
			<li><a href="#" data-ng-click="openF1()">підказка<small>(F1)</small></a></li>
			<li data-ng-class="{'disabled': numberOfChange == 0}"><a
				data-ng-click="saveWorkDoc()" href="#"
				title="Запис (Ctrl_S, F4). {{numberOfChange}} незбережених змін"><span
					class="glyphicon glyphicon-floppy-disk"></span>{{numberOfChange}}<small>(F4)</small>
			</a></li>
		</ul>
	</span>
<hr/>
<div class="container">
	<div class="row">
		<div class="col-xs-2">
			<span class="close navbar-right"><small>Назви</small></span>
			<h3 data-ng-context-menu="menuDrugName"><u>{{drugDocument.DRUG_NAME}}</u></h3>
		</div>
		<div class="col-xs-6">
			<span class="close navbar-right"><small>Дози</small></span>
			<div>
				<span data-ng-repeat="dose in drugDocument.doses"
					data-ng-click="dose2newDose(dose)"
					data-ng-context-menu="menuDoses"
				>
					<small data-ng-show="dose.DOSECONCENTRATON_NUMBER">
						{{dose.DOSECONCENTRATON_NUMBER}}{{dose.DOSECONCENTRATON_UNIT}}
					</small>
					<small data-ng-show="!dose.DOSE_NUMBER">__</small>
					{{dose.DOSE_NUMBER}}
					{{dose.DOSE_UNIT}}
					{{dose.DOSE_ROUTE_OF_ADMINISTRATION}}
					|
				</span>
			</div>
			<table>
				<tr>
					<th title="Кількість" class="doseDialog"><u>Доза
					</u>
					</th>
					<th title="Одиниці виміру" class="doseDialog">
						<span 
						data-ng-repeat="doseUnit in ['мл', 'таб', 'мг']"
						data-ng-click="newDrugDocumentDose.DOSE_UNIT = doseUnit"
						><span data-ng-show="$index != 0">|</span>{{doseUnit}}</span>
					</th>
					<th title="Шлях введення" class="doseDialog">
						<span 
						data-ng-repeat="doseRouteOfAdministration in ['в/в', 'в/м', 'п.о.']"
						data-ng-click="newDrugDocumentDose.DOSE_ROUTE_OF_ADMINISTRATION = doseRouteOfAdministration"
						><span data-ng-show="$index != 0">|</span>{{doseRouteOfAdministration}}</span>
					</th>
					<th></th>
					<th title="Концентрація">--</th>
					<th title="Одиниці виміру концентрації">
						<span 
						data-ng-repeat="doseConcentrationUnit in ['%', 'мг/мл']"
						data-ng-click="newDrugDocumentDose.DOSECONCENTRATON_UNIT = doseConcentrationUnit"
						><span data-ng-show="$index != 0">|</span>{{doseConcentrationUnit}}</span>
					</th>
				</tr>
				<tr>
					<td> <input ng-model="newDrugDocumentDose.DOSE_NUMBER" type="text" class="form-control" auto-focus="" /> </td>
					<td> <input ng-model="newDrugDocumentDose.DOSE_UNIT" type="text" class="form-control" /> </td>
					<td> <input ng-model="newDrugDocumentDose.DOSE_ROUTE_OF_ADMINISTRATION" type="text" class="form-control" /> </td>
					<td>-</td>
					<td> <input ng-model="newDrugDocumentDose.DOSECONCENTRATON_NUMBER" type="text" class="form-control" /> </td>
					<td> <input ng-model="newDrugDocumentDose.DOSECONCENTRATON_UNIT" type="text" class="form-control" /> </td>
					<td> &nbsp; </td>
					<td> <a href="#" data-ng-click="addNewDrugDocumentDose()"> <span class="glyphicon glyphicon-plus"></span> </a> </td>
				</tr>
			</table>
		</div>
		<div class="col-xs-4">
			<span class="close navbar-right"><small>Час</small></span>
		</div>
	</div>
</div>

<hr/>
<div class="container">
	<div class="row">
		<div class="col-xs-6">
			<div data-ng-repeat="ddPrescribeHistory in workDoc.prescribesHistory"
				data-ng-init="ddPrescribeHistoryIndex = $index;">
				<div data-ng-context-menu="menuDrugPrescribesGroup">Група
					типових призначень {{ddPrescribeHistoryIndex + 1}}</div>
				<div data-ng-repeat="drug in ddPrescribeHistory.prescribes.tasks"
					data-ng-init="drugIndex = $index"
				data-ng-context-menu="menuDrugInPrescribesGroup">
					<span data-ng-show="drug.groupPosition > 0">+</span> <span
						ng-bind-html="taskAndHourDescription(drugIndex, ddPrescribeHistory)"></span>,
					<span ng-bind-html="drugHourDescription(drug)"></span>
				</div>
			</div>
		</div>
		<div class="col-xs-6">
			<div data-ng-repeat="replacementDrug in workDoc.replacementDrugs"
				data-ng-init="replacementDrugIndex = $index;">
				<h3>{{replacementDrug.DRUG_NAME}}</h3>
				<div
					data-ng-repeat="rdPrescribeHistory in replacementDrug.prescribesHistory"
					data-ng-init="rdPrescribeHistoryIndex = $index;">
					Група типових призначень {{rdPrescribeHistoryIndex + 1}}
					<div data-ng-repeat="rDrug in rdPrescribeHistory.prescribes.tasks"
							data-ng-init="rDrugIndex = $index">
						<span data-ng-show="rDrug.groupPosition > 0">+</span>
						<span ng-bind-html="taskAndHourDescription(rDrugIndex, rdPrescribeHistory)"></span>,
						<span ng-bind-html="drugHourDescription(rDrug)"></span>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<hr/>
<a href="drugs.html">Ліки</a>

	<script src="/js-vendor/jquery-2.1.1.min.js"></script>
	<script src="/js-vendor/bootstrap.min.js"></script>
	<script src="/js-vendor/angular.min.js"></script>
	<script src="/js-vendor/angular-sanitize.min.js"></script>
	<script src="/js-vendor/ui-bootstrap-tpls-0.11.0.js"></script>
	<script src='/js-vendor/textAngular-sanitize.min.js'></script>
	<script src='/js-vendor/textAngular.min.js'></script>
	<script src="/db/cuwy1.config.js"></script>
	<script src="/db/drug1sList.json.js"></script>
	<script src="/js/cuwy1.directives.js"></script>
	<script src="/js/drugCtrl.js"></script>

</body>
</html>
