<!DOCTYPE html>
<html data-ng-app="f8lApp" data-ng-controller="f8lCtrl" moznomarginboxes mozdisallowselectionprint>
<head>
	<meta charset="utf-8" />
	<title>{{siteMap.title}}</title>
	<link href='/css-vendor/font-awesome.min.css' rel='stylesheet prefetch'/>
	<style type="text/css">
	
table {
	border-collapse: collapse;
}

td, th {
	border: solid;
	border-width: 1px 1px;
}
	</style>
</head>
<body>
	<table class="f8l">
		<tr>
			<td>Час</td>
			<th data-ng-repeat="dayHour in dayHours"
				data-ng-init="lpHour = getLp24hourStr(dayHour)">{{lpHour}}</th>
			<td></td>
		</tr>
		<tr>
			<td>Артеріальний тиск/ЦВТ</td>
			<td data-ng-repeat="dayHour in dayHours"></td>
			<td></td>
		</tr>
		<tr>
			<td>Пульс</td>
			<td data-ng-repeat="dayHour in dayHours"></td>
			<td></td>
		</tr>
		<tr>
			<td>Частота дихання</td>
			<td data-ng-repeat="dayHour in dayHours"></td>
			<td></td>
		</tr>
		<tr>
			<td>Температура</td>
			<td data-ng-repeat="dayHour in dayHours"></td>
			<td>Всього</td>
		</tr>
		<tr>
			<td>Інфузія</td>
			<td data-ng-repeat="dayHour in dayHours"></td>
			<td></td>
		</tr>
		<tr>
			<td>Випито</td>
			<td data-ng-repeat="dayHour in dayHours"></td>
			<td></td>
		</tr>
		<tr>
			<td>Діурез/Дренаж</td>
			<td data-ng-repeat="dayHour in dayHours"></td>
			<td></td>
		</tr>
		<tr>
			<td>ПРИЗНАЧЕНО</td>
			<!-- 
			<td data-ng-repeat="dayHour in dayHours"></td>
			<td data-ng-repeat="dayHour in dayHours"
				data-ng-init="lpHour = getLp24hourStr(dayHour)">{{lpHour}}</td>
			 -->
			<th data-ng-repeat="dayHour in dayHours"
				data-ng-init="lpHour = getLp24hourStr(dayHour)">{{lpHour}}</th>
			<td></td>
		</tr>
		<tr data-ng-repeat="taskInDay in tasksInDay"
			data-ng-init="taskInDayIndex = $index">
			<td><span ng-bind-html="taskDescription($index)"></span></td>
			<td data-ng-repeat="dayHour in dayHours"><i
				data-ng-show="isMinus(taskInDayIndex, $index, prescribeHistory)" class="fa fa-minus"></i>
			</td>
			<td></td>
		</tr>

	</table>
	<script src="/js-vendor/jquery-2.1.1.min.js"></script>
	<script src="/js-vendor/angular.min.js"></script>
	<script src="/js-vendor/angular-sanitize.min.js"></script>
	<script src="/js/cuwy1.directives.js"></script>
	<script src="/js/cuwy1.config.js"></script>
	<script type="text/javascript">
	
	angular.module('f8lApp', ['ngSanitize']).controller('f8lCtrl', ['$scope', '$http', '$sce', function($scope, $http, $sce) {
		console.log("----------f8lCtrl----------");
		setCookieDaysLong('printForm','l8l',365);
		$scope.tasksInDayNumber = 20;
		$scope.startHour24lp = 10;
		initDeclarePrescribesPrint($scope, $http, $sce);
	}]);

	</script>
</body>
</html>
