<!DOCTYPE html>
<html data-ng-app="f8lApp" data-ng-controller="f8lCtrl" moznomarginboxes mozdisallowselectionprint>
<!-- 
<html data-ng-app="f8lApp" data-ng-controller="f8lCtrl">
 -->
<head>
	<meta charset="utf-8" />
	<title>l8l</title>
	<link href='/css-vendor/font-awesome.min.css' rel='stylesheet prefetch'/>
	<style type="text/css">
table {
	border-collapse: collapse;
	/*
	-fs-table-paginate: paginate;
	*/
}

.groupDrug td { border-width: 0px 1px;}
td, th {
	border: solid;
	border-width: 1px 1px;
	height: 23px;
}

.bold {
	font-weight: bold;
}

.right {
	text-align: right;
}
</style>
</head>
<body>
	<table class="f8l">
		<caption>Лист призначень</caption>
		<thead>
			<tr>
				<td colspan="27">
					<table width="100%" class="captiontable">
						<colgroup>
							<col style="width: 13%"/>
							<col style="width: 5%"/>
							<col style="width: 7%"/>
							<col style="width: 47%"/>
							<col style="width: 18%"/>
							<col style="width: 10%"/>
						</colgroup>
						<tr>
							<td class="right">Група крові</td><td></td>
							<td>Хворий</td><td class="bold"> {{patient.PATIENT_NAME}} </td>
							<td>Історія хвороби</td><td class="bold">{{patient.PATIENT_HISTORYID}}</td>
						</tr>
						<tr>
							<td class="right">Rh</td><td></td>
							<td>Діагноз</td><td></td>
							<td class="right">Дата</td>
							<td>{{prescribeHistory.date | date:'dd-MM-yyyy'}}</td>
								<!-- 
							<td>{{prescribeHistory.date | date:'" dd " '}}
								{{getMMMMUa(prescribeHistory.date)}} {{prescribeHistory.date |
								date:'yyyy р.'}}</td>
								 -->
						</tr>
					</table>
				</td>
			</tr>
			<tr>
				<td>Час</td>
				<th data-ng-repeat="dayHour in dayHours"
					data-ng-init="lpHour = getLp24hourStr(dayHour)">{{lpHour}}</th>
				<th>{{startHour24lp}}</th>
				<td></td>
			</tr>
			<tr>
				<td><small> Артеріальний тиск / ЦВТ </small></td>
				<td data-ng-repeat="dayHour in dayHours"></td>
				<td></td>
				<td></td>
			</tr>
			<tr> <td>Пульс</td> <td data-ng-repeat="dayHour in dayHours"></td> <td></td><td></td> </tr>
			<tr> <td>Частота дихання</td> <td data-ng-repeat="dayHour in dayHours"></td> <td></td><td></td> </tr>
			<tr> <td>Температура</td> <td data-ng-repeat="dayHour in dayHours"></td><td></td> <td>Всього</td> </tr>
			<tr> <td>Інфузія</td> <td data-ng-repeat="dayHour in dayHours"></td> <td></td> <td></td></tr>
			<tr> <td>Випито</td> <td data-ng-repeat="dayHour in dayHours"></td> <td></td> <td></td></tr>
			<tr> <td>Діурез/Дренаж</td> <td data-ng-repeat="dayHour in dayHours"></td> <td></td><td></td> </tr>
			<tr>
				<td>ПРИЗНАЧЕНО</td>
				<!-- 
				<td data-ng-repeat="dayHour in dayHours"></td>
				<td data-ng-repeat="dayHour in dayHours"
					data-ng-init="lpHour = getLp24hourStr(dayHour)">{{lpHour}}</td>
				 -->
				<th data-ng-repeat="dayHour in dayHours"
					data-ng-init="lpHour = getLp24hourStr(dayHour)">{{lpHour}}</th>
				<th>{{startHour24lp}}</th>
				<td></td>
			</tr>
		</thead>
		<tbody>
			<tr data-ng-repeat="taskInDay in tasksInDay"
				data-ng-class="{'groupDrug': prescribeHistory.prescribes.tasks[taskInDayIndex].groupPosition >= 0}"
				data-ng-init="taskInDayIndex = $index">
				<td
				>
				<span data-ng-show="prescribeHistory.prescribes.tasks[taskInDayIndex].groupPosition > 0">+</span>
				<span ng-bind-html="taskDescription($index, prescribeHistory)"></span></td>
				<td data-ng-repeat="dayHour in dayHours">
					<i data-ng-show="isMinus(taskInDayIndex, $index, prescribeHistory)" class="fa fa-minus"></i>
				</td>
				<td></td>
				<td></td>
			</tr>
		</tbody>
		<tfoot>
			<tr>
				<td colspan="10">Підпис лікаря</td>
				<td colspan="17">Підпис медсестри</td>
			</tr>
		</tfoot>
	</table>
	<script src="/js-vendor/jquery-2.1.1.min.js"></script>
	<script src="/js-vendor/angular.min.js"></script>
	<script src="/js-vendor/angular-sanitize.min.js"></script>
	<script src="/js/cuwy1.directives.js"></script>
	<script src="/js/cuwy1.config.js"></script>
	<script type="text/javascript">
	
	angular.module('f8lApp', ['ngSanitize']).controller('f8lCtrl', ['$scope', '$http', '$sce', 
			function($scope, $http, $sce) {
		console.log("----------f8lCtrl----------");
		setCookieDaysLong('printForm','l8l',365);
		$scope.tasksInDayNumber = 20;
		$scope.startHour24lp = 10;
		initDeclarePrescribesPrint($scope, $http, $sce);
		$scope.getMMMMUa = function (date){ return jsDate = new Date(date).getMMMMUa(); }
	}]);

	</script>
</body>
</html>
