<!DOCTYPE html>
<html data-ng-app="cuwyApp" data-ng-controller="homeCtrl">
<head>
	<meta charset="utf-8" />
	<link href="/css-vendor/bootstrap.css" rel="stylesheet"/>
	<link href="/css/cuwy1-cpoe-hol1.css" rel="stylesheet"/>
	<title>{{siteMap.title}}</title>
	<style type="text/css">
	
.uppercase {
	text-transform: uppercase;
}

.fontsmall {
	font-size: 75%;
}
	
	</style>
</head>

<body key-cuwytrap="">
	<a href="http://stfalcon.github.io/euromaidan/" class="em-ribbon" 
		style="position: absolute; left:0; top:0; width: 90px; height: 90px; 
		background: url('http://stfalcon.github.io/euromaidan/img/em-ribbon.png'); z-index: -1; 
		border: 0;" title="Розмісти стрічку з символікою України і ЄС на своєму сайті!" target="_blank"></a>
	<div class="container">
	<h1> {{siteMap.name}} <small> {{siteMap.subname}} </small> </h1>
	<hr/>
	<div class="row">
		<div class="col-xs-9">
			<h2
				data-ng-class="{selected:selectIndex == 1}"
				data-ng-click="openItem(1)"
			> <a id="link_1" href="{{siteMap.siteMaps[0].url}}">{{siteMap.siteMaps[0].name}}</a> </h2>
		</div>
	</div>
	<hr/>
	<div class="row">
		<div class="col-xs-8">
			<h3
				data-ng-class="{selected:selectIndex == 2}"
				data-ng-click="openItem(2)"
			> <a id="link_2" href="{{siteMap.siteMaps[3].url}}">{{siteMap.siteMaps[3].name}}</a> </h3>
			
		</div>
		<div class="col-xs-4">
			<h3
				data-ng-class="{selected:selectIndex == 3}"
				data-ng-click="openItem(3)"
			>
				<a  id="link_3" href="{{siteMap.siteMaps[1].url}}">{{siteMap.siteMaps[1].name}}</a>
			</h3>
		</div>
	</div>
	<hr/>
	<div class="row">
		<div class="col-xs-2">
			<h3>
				<a href="help.html"> Підказка. </a>
			</h3>
		</div>
			<div class="col-xs-10">
				<div>Додаток для веденя листів призначень в режимі інтенсивної терапії</div>
				<div class="bold">
					<span class="uppercase"> Медичної документації </span> <i> -
						Форма Nr 011/о </i>
				</div>
				<span class="fontsmall"> Затверджена МОЗ України 26.07.99 р.
					№184, доповнена </span>
				Та інших форм.
				<p>
				Призначення пишуться з чистого листа.
				Також можливо зробити копію і зміни призначен дня, що минув або заздалегіть підготовленої схеми.
				</p>
				<p>
					В розділі <b> <a href="http://localhost:8080/protocols.html">
							Призначеня::Клінічні протоколи </a></b> ви можете вести базу даних
					локальних стандартів лікування.
				</p>
				<p>
				Цей розділ розвивається і вдосконалюється до досягнення рівня інтерактивних клінічних протоколів.
				</p>
				<p>
					Спостерігайте за новою версією на сайті <a
						href="http://sah.curepathway.com/home.html">sah.curepathway.com</a>.
				</p>
				<p>
				Обмін схемами лікування між <a
						href="http://sah.curepathway.com/home.html">sah.curepathway.com</a> і 
				локальною інсталяцією працює в обох напрямках.
				</p>
			</div>
		</div>
	<hr/>
	<div class="row">
		<div class="col-xs-5"></div>
		<div class="col-xs-7">
			<small> З питань інсталяції, побажань і рекомендацій щодо вдосконалення додатку, звертаїтесь
				відділення реанімації або орг-метод відділ <a
				href="http://hol.khmelnitskiy.ua/"> Хмельницької обласної
					лікарні</a>.
				<div>
					З повагою, <a target="_top"
						href="mailto:roman.mishchenko@gmail.com?Subject=sah.curepathway.com : ">
						roman.mishchenko@gmail.com </a>
				</div>
			</small>
		</div>
		</div>
	<div>
	</div>
	</div>
	
	<script src="/js-vendor/jquery-2.1.1.min.js"></script>
	<script src="/js-vendor/bootstrap.min.js"></script>
	<script src="/js-vendor/angular.min.js"></script>
	<script src="/js-vendor/angular-sanitize.min.js"></script>
	<script src="/js-vendor/ui-bootstrap-tpls-0.11.0.js"></script>
	<script src='/js-vendor/textAngular-sanitize.min.js'></script>
	<script src='/js-vendor/textAngular.min.js'></script>
	<script src="/js/cuwy1.config.js"></script>
	<script src="/js/cuwy1.directives.js"></script>
	<script src="/js/homeCtrl.js"></script>

</body>
</html>
