<!DOCTYPE html>
<html data-ng-app="cuwyApp" data-ng-controller="patientLp24hCtrl">
<head>
	<meta charset="utf-8" />
	<title>{{patient.PATIENT_NAME}}{{siteMap.title}}</title>
	<link href='/css-vendor/font-awesome.min.css' rel='stylesheet prefetch'/>
	<link href="/css-vendor/bootstrap.css" rel="stylesheet"/>
	<link href="/css-vendor/datepicker.css" rel="stylesheet"/>
	<link href="/css/cuwy1-cpoe-hol1.css" rel="stylesheet"/>
</head>

<body data-key-cuwytrap="" >
	<a id="focus_minus_2"
		data-ng-class="{'selected': patient.pageDeepPositionIndex == -2}"
		href="home.html"><span class="glyphicon glyphicon-home"></span></a>
/	<a id="focus_minus_1"
		data-ng-class="{'selected': patient.pageDeepPositionIndex == -1}"
		href="patients.html">Список пацієнтів</a>: 
/	<a id="focus_0"
		data-ng-class="{'selected': patient.pageDeepPositionIndex == 0}"
		href="patient.html?id={{parameters.id}}"> <span class="h1">
			<u>{{patient.PATIENT_NAME}}</u></span>
	</a> {{siteMap.name}}
	<span class="navbar-right">
		<ul class="nav nav-pills">
			<li><a href="patients.html">пацієнти</a></li>
			<li><a href="protocols.html">шаблони</a></li>
			<li><a href="protocols.html">протоколи</a></li>
			<li><a href="drugs.html">ліки</a></li>
			<li><a href="#" data-ng-click="openF1()">підказка<small>(F1)</small></a></li>
			<li><a data-ng-click="newPrescribes()" href="#">нове призначеня</a></li>
			<li data-ng-class="{'disabled': numberOfChange == 0}"><a
				data-ng-click="saveWorkDoc()" href="#"
				title="Запис (Ctrl_S, F4). {{numberOfChange}} незбережених змін"><sub>{{numberOfAutoSavedChange}}</sub><span
					class="glyphicon glyphicon-floppy-disk"><sup>{{numberOfChange}}</sup></span><small>(F4)</small>
			</a></li>
			<li title="Поновити: вернутись до останнього збереженого стану">
			<a href="patient.html?id={{parameters.id}}"><i class="fa fa-refresh"></i></a></li>
			<li title="Меню"><a href="#"><i class="fa fa-bars"></i></a></li>
		</ul>
	</span>
<hr/>
	<div class="container">
		<div class="row">
			<div class="col-xs-6" ng-context-menu="menuPatientUpdate"
				data-ng-class="{selected:patient.selectPrescribesHistoryIndex == -1 }">
				<div data-ng-show="!patient.patientUpdateOpen"
					data-ng-click="updatePatient()">
					<u>{{patient.PATIENT_NAME}}</u><span
						data-ng-show="patient.PATIENT_HISTORYID"> № іх <u>{{patient.PATIENT_HISTORYID}}
					</u></span>
				</div>
				<div data-ng-show="patient.patientUpdateOpen">
					<form class="form-inline" role="form">
						<div class="form-group">
							<div class="input-group">
								<div class="input-group-addon">ПІП</div>
								<input ng-model="patient.PATIENT_NAME" auto-focus=""
									class="form-control" type="text"
									placeholder="Призвище Ім'я та Побатькові">
							</div>
						</div>
						<div class="form-group">
							<div class="input-group">
								<div class="input-group-addon">Nr ІХ</div>
								<input ng-model="patient.PATIENT_HISTORYID" class="form-control"
									type="text" placeholder="Номер історії хвороби">
							</div>
						</div>
						<div class="form-group">
							<a href="#" title="Далі" class="close navbar-right"
								data-ng-click="checkPatientUpdated()"> <span
								class="glyphicon glyphicon-share-alt"></span>
							</a>
						</div>
					</form>
				</div>
			</div>
			<div class="col-xs-6">
				<div class="input-group">
					<span class="input-group-addon">Пошук:</span> <input
						ng-model="seekPrescribeEdit" type="text" class="form-control"
						data-ng-change="getSeekPrescribeEdit()"
						placeholder="ліка / тег / блок" auto-focus="" />
				</div>
			</div>
		</div>
	</div>
	<div class="container" data-ng-show="seekPrescribeEdit">
		<div class="row"  data-ng-show="drugDocument">
			<div class="col-xs-12">
				<b> {{drugDocument.DRUG_NAME}} </b>
				<span
					data-ng-repeat="ddPrescribeHistory in drugDocument.prescribesHistory"
					data-ng-init="ddPrescribeHistoryIndex = $index;"
					>
					Група типових призначень {{ddPrescribeHistoryIndex + 1}} :
					<span
						data-ng-repeat="drug in ddPrescribeHistory.prescribes.tasks"
						data-ng-init="drugIndex = $index">
					|
					<span class="mouseover"
							data-ng-click="addTaskToPrescribeHistory(ddPrescribeHistory, drugIndex)">
							di11
						<span ng-bind-html="taskAndHourDescription(drugIndex, ddPrescribeHistory)"></span>
						<span data-ng-repeat="drugInline in drug.inlineDrugs"
							ng-init="drugInlineIndex = $index" >
							{{drug.splitSymbol}}
							<span
							data-ng-show="!prescribeHistory.prescribes.tasks[taskInDayIndex].splitSymbol">+
							</span> <span ng-bind-html="drugDescription(drugInline)"></span>
						</span>
					</span>
					</span>
				</span>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12">
				Медикаменти: <span data-ng-repeat="drug in drug1sListFilter ">
					<span class="mouseover"
					data-ng-class="{
			selectpath:drug1sListFilter[selectDrugIndex] == drug,
			selected:drug1sListFilter[selectDrugIndex] == drug }"
					data-ng-click="drugToTask4(drug)"> {{drug.DRUG_NAME}} </span> |
				</span>
			</div>
		</div>
	</div>
	<div class="container">
	<div class="row">
		<div class="col-xs-12">
			<div class="navbar-right">
				<a data-ng-click="openPrescribesGroupIndex = -1"> <span
					class="glyphicon glyphicon-remove"></span>
				</a> |
				<span data-ng-repeat="pgPrescribesHistory in prescribesGroup.prescribesHistory" 
					data-ng-init="pgPrescribesHistoryIndex = $index;" >
					<a data-ng-click="openGroup(pgPrescribesHistoryIndex)" >
						{{pgPrescribesHistory.prescribeHistoryDaysNote}}
					</a>
					|
				</span>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12">
			<div class="navbar-right">
				<div data-ng-show="prescribesGroup.prescribesHistory[openPrescribesGroupIndex]">
					<span data-ng-repeat="pgDrug in prescribesGroup.prescribesHistory[openPrescribesGroupIndex].prescribes.tasks"
							data-ng-init="pgDrugIndex = $index"> 
					<span data-ng-show="!(prescribesGroup.prescribesHistory[openPrescribesGroupIndex].prescribes.tasks[pgDrugIndex].groupPosition > 0)">|</span>
					<span class="mouseover"
							data-ng-click="addTaskToPrescribeHistoryEnd(prescribesGroup.prescribesHistory[openPrescribesGroupIndex], pgDrugIndex)">
						<span data-ng-show="prescribesGroup.prescribesHistory[openPrescribesGroupIndex].prescribes.tasks[pgDrugIndex].groupPosition > 0">+</span>
						<span ng-bind-html="taskAndHourDescription(pgDrugIndex, prescribesGroup.prescribesHistory[openPrescribesGroupIndex])"></span>
						<span data-ng-repeat="drugInline in pgDrug.inlineDrugs">
							+<span ng-bind-html="drugDescription(drugInline)"></span>
						</span>
					</span>
					</span>
				</div>
				<!-- 
				-
				<a href="#">інотропна</a>| <a href="#">інфузії</a>| <a href="#">антибіотики</a>|
				Харчування <a href="#">ентерально</a>| <a href="#">парентерально</a>
				 -->
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12">
				<div data-ng-repeat="prescribeHistory in patient.prescribesHistory" data-ng-init="prescribeHistoryIndex = $index;" >
					<span title="{{prescribeHistory.date | date:'HH:mm:ss'}}"
						data-ng-click="collapseDayPrescribe(prescribeHistoryIndex)"
						data-ng-dblclick="phOpenUpdateDialog(prescribeHistoryIndex)"
						class="mouseover"
						data-ng-context-menu="menuDayBlock"
						data-ng-class="{selectpath:dayInSelectPath(prescribeHistoryIndex),
									selected:daySelected(prescribeHistoryIndex) }">
						{{prescribeHistory.date | date:'dd-MM-yyyy '}} <small>
							{{prescribeHistory.date | date:'HH:mm'}} </small> <a href="#"> <span
							class="glyphicon glyphicon-folder-{{!prescribeHistory.isCollapsed?'open':'close'}}"></span>
					</a>
					</span>
					<span data-ng-context-menu="menuNoDelDayBlock"
						data-ng-show="prescribeHistory.deleteDay"> Позначено для
						вилучення. Призначення містить
						{{prescribeHistory.prescribes.tasks.length}} ліків. </span>
					<!--
				<a href="#" data-ng-click="collapseDayPrescribe(prescribeHistoryIndex)" ></a>
					-->
					<span class="navbar-right"> 
						<a href="#"
							data-ng-click="changeHourMoveWay()"> <span
								ng-bind-html="showHourMoveWay()"></span>
						</a> 
						-- <a id="print3_{{prescribeHistoryIndex}}"
							href="/form-{{printForm}}.html?pid={{parameters.id}}&phi={{prescribeHistoryIndex}}">
								<span class="glyphicon glyphicon-print"></span>
						</a> 
						-- <a id="print2_{{prescribeHistoryIndex}}"
							href="/form-011-o.html?pid={{parameters.id}}&phi={{prescribeHistoryIndex}}">
								<span class="glyphicon glyphicon-print"></span>
						</a>
					</span>
					<div data-ng-show="prescribeHistory.updateDialogOpen">
					<div class="row">
						<div class="col-xs-8">
							<div class="well">
								<form class="form-inline" role="form">
									<div class="form-group">
										<div class="input-group">
											Дата <small>(F9)</small>
											<input value="11-02-2015" type="text" class="form-control"
												ng-model="prescribeHistory.date"
												datepicker-popup="dd-MM-yyyy"
												datepicker-options="dateOptions" date-min-date="minDate"
												date-max-date="'2015-06-22'"
												date-disabled="disabled(date, mode)" is-open="opened">
										</div>
									</div>
									<div class="form-group">
										<div class="input-group">
											<button type="button" class="btn btn-default"
												ng-click="open($event)">
												<i class="glyphicon glyphicon-calendar"></i>
											</button>
										</div>
									</div>
									<div class="form-group">
										<a href="#" title="Далі" class="close navbar-right"
											data-ng-click="prescribeHistory.updateDialogOpen = false">
										<span class="glyphicon glyphicon-share-alt"></span>
										</a>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
				<table data-ng-show="!prescribeHistory.isCollapsed" class="tablehover">
					<colgroup>
						<col style="width: 2px;"></col>
					</colgroup>
					<caption></caption>
					<thead>
						<tr>
				<th class="mouseover" data-ng-context-menu="menuTasksAll" colspan="2" 
					data-ng-class="{selected:allDaySelect(prescribeHistoryIndex)}"
				>Призначене лікування</th>
				<th data-ng-repeat="dayHour in dayHours"
					data-ng-init="lpHour = getLp24hourStr(dayHour)"
					data-ng-class="{selectpath:dayHeadSelect(prescribeHistoryIndex, $index)}"
				>
					|
					<u data-ng-show="lpHour == prescribeStartHour "> {{lpHour}} </u>
					<span data-ng-show="lpHour != prescribeStartHour "> {{lpHour}} </span>
				</th>
							<th>|
								<span ng-bind-html="dayInfusionSumme(prescribeHistory)"></span>
							</th>
						</tr>
					</thead>
					<tbody data-ng-repeat="taskInDay in prescribeHistory.tasksInDay"
						data-ng-init="taskInDayIndex = $index"
					>
			<tr data-ng-class="{selected:prescribeHistory.prescribes.tasks[taskInDayIndex].selectMultiple}">
					<td class="hover"
						data-ng-click="selectMultiple(taskInDayIndex, prescribeHistory)">
						<u data-ng-show="prescribeHistory.prescribes.tasks.length == taskInDayIndex + 1">{{taskInDayIndex + 1}}</u> 
						<span data-ng-show="prescribeHistory.prescribes.tasks.length != taskInDayIndex + 1">{{taskInDayIndex + 1 }}</span>
					</td>
					<td class="nohover" data-ng-show="prescribeHistory.prescribes.tasks[taskInDayIndex].inlineDrugs.length == 0">
					<span
							data-ng-click="openPrescribeDrugDialog(taskInDay, taskInDayIndex, prescribeHistory);"
							data-ng-class="{	selectpath:taskInSelectPath(taskInDayIndex, prescribeHistory),
									selected:taskSelected(taskInDayIndex, prescribeHistory) }"
							ng-context-menu="menuTask"
							class="mouseover"
							>
							<span ng-bind-html="taskDescription(taskInDayIndex, prescribeHistory)"></span>
						</span>
					</td>
					<td class="nohover" data-ng-show="prescribeHistory.prescribes.tasks[taskInDayIndex].inlineDrugs">
						<span
							data-ng-click="openPrescribeDrugDialog(taskInDay, taskInDayIndex, prescribeHistory);"
							data-ng-class="{	selectpath:taskInSelectPath(taskInDayIndex, prescribeHistory),
									selected:taskSelected(taskInDayIndex, prescribeHistory) }"
							ng-context-menu="menuTask"
							class="mouseover"
							>
							<span ng-bind-html="taskDescription(taskInDayIndex, prescribeHistory)"></span>
						</span>
						<span
							data-ng-repeat="drugInline in prescribeHistory.prescribes.tasks[taskInDayIndex].inlineDrugs | filter : {inSelfLine : false}"
							ng-init="drugInlineIndex = $index"
							data-ng-click="openPrescribeDrugInDrugDialog(taskInDay, drugInline, prescribeHistory)"
							data-ng-class="{selected:drugInDrugSelected(taskInDayIndex, drugInline, prescribeHistory) }"
							ng-context-menu="menuDrugInDrug" class="mouseover">{{prescribeHistory.prescribes.tasks[taskInDayIndex].splitSymbol}}
							<span
							data-ng-show="!prescribeHistory.prescribes.tasks[taskInDayIndex].splitSymbol">+
							</span> <span ng-bind-html="drugDescription(drugInline)"></span>
						</span>
					</td>
					<td data-ng-show="!prescribeHistory.prescribes.tasks[taskInDayIndex].inlineDrugs"
							data-ng-click="openPrescribeDrugDialog(taskInDay, taskInDayIndex, prescribeHistory);"
							data-ng-class="{	selectpath:taskInSelectPath(taskInDayIndex, prescribeHistory),
												selected:taskSelected(taskInDayIndex, prescribeHistory) }"
							ng-context-menu="menuTask"
							title="{{taskInDay.isCollapsed}}"
						>
						<span data-ng-show="prescribeHistory.prescribes.tasks[taskInDayIndex].groupPosition > 0">+</span>
						<span ng-bind-html="taskDescription(taskInDayIndex, prescribeHistory)"></span>
						
					</td>
				<td data-ng-repeat="dayHour in dayHours"
					ng-init="dayHourIndex = $index"
					data-ng-class="{	selectpath:dayHourInSelectPath(dayHourIndex, taskInDayIndex, prescribeHistory),
										selected:dayHourSelected(dayHourIndex, taskInDayIndex, prescribeHistory) }"
					data-ng-click="useHour(taskInDay, taskInDayIndex, dayHourIndex, prescribeHistory)"
				>.
					<span data-ng-show="isMinus(taskInDayIndex, dayHourIndex, prescribeHistory)"
					class="glyphicon glyphicon-minus"></span>
				</td>
				<td>.
					<sub ng-bind-html="malProDay(taskInDayIndex, prescribeHistory)"></sub>
					<span ng-bind-html="infusionSumme(taskInDayIndex, prescribeHistory)"></span>
				</td>
			</tr>
			<tr data-ng-repeat="drugInline in prescribeHistory.prescribes.tasks[taskInDayIndex].inlineDrugs | filter : {inSelfLine : true}"
				ng-init="drugInlineIndex = $index"
			>
				<td></td>
				<td class="nohover"><span
					data-ng-click="openPrescribeDrugInDrugDialog(taskInDay, drugInline, prescribeHistory)"
					data-ng-class="{selected:drugInDrugSelected(taskInDayIndex, drugInline, prescribeHistory) }"
					ng-context-menu="menuDrugInDrug" class="mouseover"> +<span
						ng-bind-html="drugDescription(drugInline)"></span>
				</span></td>
				<td data-ng-repeat="dayHour in dayHours"
					ng-init="dayHourIndex = $index"
					data-ng-class="{	selectpath:dayHourInSelectPath(dayHourIndex, taskInDayIndex, prescribeHistory),
										selected:dayHourSelected(dayHourIndex, taskInDayIndex, prescribeHistory) }"
					data-ng-click="useHourDrugInDrug(dayHourIndex, drugInline)"
				>.
					<span 
					data-ng-show="isMinusDrugInDrug(dayHourIndex, drugInline)"
					class="glyphicon glyphicon-minus"></span>
				</td>
			</tr>
			<tr data-ng-if="taskInDay.isCollapsed" data-ng-controller="taskInDayCtrl" >
				<td />
				<td class="well" colspan="25">
				<div>
			<table class="dose">
				<tr>
					<td>{{prescribeHistory.prescribes.tasks[taskInDayIndex].DRUG_NAME}}</td>
					<td class="doseDialog">доза</td>
					<th colspan="3" style="text-align:center;">
					<small><sub> Години </sub> </small> 
					<span data-ng-click="prescribeHoursLeft(prescribeHistory.prescribes.tasks[taskInDayIndex])" 
						class="glyphicon glyphicon-arrow-left"></span>
					<a href="#" data-ng-click="changeHourMoveWay()">
										<span ng-bind-html="showHourMoveWay()"></span>
								</a>
					<span data-ng-click="prescribeHoursRight(prescribeHistory.prescribes.tasks[taskInDayIndex])"
						class="glyphicon glyphicon-arrow-right"></span>
					</th>
					<td colspan="2">концентрація</td>
				</tr>
				<tr>
					<th>Медикамент:_______</th>
					<th title="Кількість"  class="doseDialog">--</th>
					<th title="Одиниці виміру"  class="doseDialog">
						<span  class="mouseover"
						data-ng-repeat="doseUnit in ['мл', 'таб', 'мг', 'г']"
						data-ng-click="editedPrescribeDrug.dose.DOSE_UNIT = doseUnit"
						><span data-ng-show="$index != 0">|</span>{{doseUnit}}</span>
					</th>
					<th title="Шлях введення"  nowrap  class="doseDialog">
						<span  class="mouseover"
						data-ng-repeat="doseRouteOfAdministration in ['в/в', 'в/м', 'п/ш', 'п.о.']"
						data-ng-click="editedPrescribeDrug.dose.DOSE_ROUTE_OF_ADMINISTRATION = doseRouteOfAdministration"
						><span data-ng-show="$index != 0">|</span>{{doseRouteOfAdministration}}</span>
					</th>
					<th></th>
					<th title="Концентрація">--</th>
					<th title="Одиниці виміру концентрації">
						<span  class="mouseover"
						data-ng-repeat="doseConcentrationUnit in ['%', 'мг/мл']"
						data-ng-click="editedPrescribeDrug.dose.DOSECONCENTRATON_UNIT = doseConcentrationUnit"
						><span data-ng-show="$index != 0">|</span>{{doseConcentrationUnit}}</span>
					</th>
				</tr>
				<tr>
					<td><input type="text" class="form-control"
						data-ng-model="editedPrescribeDrug.DRUG_NAME"
						data-ng-change="filterDrugs(editedPrescribeDrug.DRUG_NAME)" auto-focus=""
						data-ng-focus="changeDialogTab('drug')"
						placeholder=" пошук / запис"></td>
					<td> <input id="dose1" 
							data-ng-focus="changeDialogTab('dose')"
					 ng-model="editedPrescribeDrug.dose.DOSE_NUMBER" type="text" class="form-control" /> </td>
					<td><input 
					data-ng-focus="changeDialogTab('dose')"
					ng-model="editedPrescribeDrug.dose.DOSE_UNIT" type="text" class="form-control" /> </td>
					<td> <input 
					data-ng-focus="changeDialogTab('dose')"
					ng-model="editedPrescribeDrug.dose.DOSE_ROUTE_OF_ADMINISTRATION" type="text" class="form-control" /> </td>
					<td>-</td>
					<td> <input
						data-ng-focus="changeDialogTab('dose')"
						data-ng-model="editedPrescribeDrug.dose.DOSECONCENTRATON_NUMBER" type="text" class="form-control" /> </td>
					<td> <input
						data-ng-focus="changeDialogTab('dose')"
					 ng-model="editedPrescribeDrug.dose.DOSECONCENTRATON_UNIT" type="text" class="form-control" /> </td>
				</tr>
				<tr>
				<!-- 
					<td></td>
				 -->
					<td colspan="5">
				<table>
					<tr>
						<td>
						<span data-ng-click="prescribeHoursLeft(prescribeHistory.prescribes.tasks[taskInDayIndex])" 
						class="glyphicon glyphicon-arrow-left"></span>
						||
						</td>
						<td data-ng-repeat="hour2prescribe in getHoures2prescribe(prescribeHistory.prescribes.tasks[taskInDayIndex])">
						<span data-ng-click="prescribeHourLeft(prescribeHistory.prescribes.tasks[taskInDayIndex], hour2prescribe)" class="glyphicon glyphicon-arrow-left"></span>
							{{hour2prescribe}}
						<span data-ng-click="prescribeHourRight(prescribeHistory.prescribes.tasks[taskInDayIndex], hour2prescribe)"  class="glyphicon glyphicon-arrow-right"></span>
						|
						</td>
						<td>
						|
						<span data-ng-click="prescribeHoursRight(prescribeHistory.prescribes.tasks[taskInDayIndex])"
						class="glyphicon glyphicon-arrow-right"></span>
						</td>
					</tr>
				</table>
					</td>
					<td colspan="4">
					<table>
						<tr>
							<td>
							<span data-ng-click="prescribeMalProDayMinus(prescribeHistory.prescribes.tasks[taskInDayIndex])" 
						class="glyphicon glyphicon-arrow-left"></span>
							</td>
							<td>
							{{getHoures2prescribe(prescribeHistory.prescribes.tasks[taskInDayIndex]).length}}
							</td>
							<td>
							<span data-ng-click="prescribeMalProDayPlus(prescribeHistory.prescribes.tasks[taskInDayIndex])"
						class="glyphicon glyphicon-arrow-right"></span>
							</td>
							<td> рівномірно раз на день </td>
						</tr>
					</table>
					</td>
				</tr>
			</table>

			<div data-ng-show="taskInDay.dialogTab == 'drug'">
			Медикаменти:
					<span data-ng-repeat="drug in drug1sListFilter ">
						<span class="mouseover" data-ng-class="{
				selectpath:drug1sListFilter[selectDrugIndex] == drug,
				selected:drug1sListFilter[selectDrugIndex] == drug }"
				data-ng-click="drugToTask3(drug)"> {{drug.DRUG_NAME}} 
						</span> |
					</span>
			</div>
			<div data-ng-show="taskInDay.dialogTab == 'dose'">
				<span data-ng-repeat="dose in drugDocument.doses">
					<span data-ng-click="addDoseToPrescribeDrug(dose)"
					class="mouseover" data-ng-class="{
			selectpath:drugDocument.doses[selectDoseIndex] == dose,
			selected:drugDocument.doses[selectDoseIndex] == dose }"
					>
					<small data-ng-show="dose.DOSECONCENTRATON_NUMBER">
						{{dose.DOSECONCENTRATON_NUMBER}}{{dose.DOSECONCENTRATON_UNIT}}
					</small> {{dose.DOSE_NUMBER}} {{dose.DOSE_UNIT}}
						{{dose.DOSE_ROUTE_OF_ADMINISTRATION}}</span>
						|
				</span>
			</div>
			<div data-ng-show="drugDocument.prescribesHistory">
				<div
					data-ng-repeat="ddPrescribeHistory in drugDocument.prescribesHistory"
					data-ng-init="ddPrescribeHistoryIndex = $index;"
					>
					Група типових призначень {{ddPrescribeHistoryIndex + 1}} :
					<span
						data-ng-repeat="drug in ddPrescribeHistory.prescribes.tasks"
						data-ng-init="drugIndex = $index">
					<span data-ng-show="!(drug.groupPosition > 0)">|</span>
					<span class="mouseover"
							data-ng-click="addTaskToPrescribeHistory(ddPrescribeHistory, drugIndex)">
						<span data-ng-show="drug.groupPosition > 0">+</span>
						<span ng-bind-html="taskAndHourDescription(drugIndex, ddPrescribeHistory)"></span>
					</span>
					</span>
				</div>
				<div
					data-ng-repeat="replacementDrug in drugDocument.replacementDrugs"
					data-ng-init="replacementDrugIndex = $index;">
					<span class="h4"> {{replacementDrug.DRUG_NAME}} </span>
					<span
						data-ng-repeat="rdPrescribeHistory in replacementDrug.prescribesHistory"
						data-ng-init="rdPrescribeHistoryIndex = $index;">
						Група типових призначень {{rdPrescribeHistoryIndex + 1}}
						|<span
							data-ng-repeat="rDrug in rdPrescribeHistory.prescribes.tasks"
							data-ng-init="rDrugIndex = $index">
							<span data-ng-show="!(rDrug.groupPosition > 0)">|</span>
							<span data-ng-click="addTaskToPrescribeHistory(rdPrescribeHistory, rDrugIndex)"
							class="mouseover"
							>
								<span data-ng-show="rDrug.groupPosition > 0">+</span>
								<span ng-bind-html="taskAndHourDescription(rDrugIndex, rdPrescribeHistory)"></span>
							</span>
						</span>|
					</span>
				</div>
			</div>
			</div>
				<span class="close navbar-right"> <small> Додаток: 
				<a href="/drug.html?id={{prescribeHistory.prescribes.tasks[$index].DRUG_ID}}">
					{{prescribeHistory.prescribes.tasks[$index].DRUG_NAME}} </a>
					</small>
				</span>
			</td>
			</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>

<hr/>
<a href="patients.html">Список пацієнтів</a>
|
<a href="protocols.html">Клінічні протоколи</a>

	<script src="/js-vendor/jquery-2.1.1.min.js"></script>
	<script src="/js-vendor/jquery-ui.min.js"></script>
	<script src="/js-vendor/bootstrap.min.js"></script>
	<script src="/js-vendor/bootstrap-datepicker.js"></script>
	<script src="/js-vendor/angular.min.js"></script>
	<script src="/js-vendor/angular.min.js"></script>
	<script src="/js-vendor/angular-sanitize.min.js"></script>
	<script src="/js-vendor/ui-bootstrap-tpls-0.11.2.js"></script>
	<script src='/js-vendor/textAngular-sanitize.min.js'></script>
	<script src='/js-vendor/textAngular.min.js'></script>
	<script src="/db/cuwy1.config.js"></script>
	<script src="/db/patient1sList.json.js"></script>
	<script src="/db/drug1sList.json.js"></script>
	<script src="/js/cuwy1.directives.js"></script>
	<script src="/js/patientLp24hCtrl.js"></script>
	<script src="/js/taskInDayCtrl.js"></script>
	
</body>
</html>
