<!DOCTYPE html>
<html ng-app="cuwyApp" ng-controller="patientsCtrl">
<head>
	<meta charset="utf-8" />
	<title>{{siteMap.title}}</title>
	<link href="/css-vendor/bootstrap.css" rel="stylesheet"/>
	<link href="/css/cuwy1-cpoe-hol1.css" rel="stylesheet"/>
</head>

<body key-cuwytrap="">
	<a id="focus_minus_1"
		data-ng-class="{'selected': pageDeepPositionIndex == -1}"
		href="home.html"><span class="glyphicon glyphicon-home"></span></a>
/	<a id="focus_0"
		data-ng-class="{'selected': pageDeepPositionIndex == 0}"
		href="patients.html"> <span class="h1">{{siteMap.name}}</span>
	</a>
	<span class="navbar-right">
		<ul class="nav nav-pills">
			<li><a href="patients.html">пацієнти</a></li>
			<li><a href="protocols.html">шаблони</a></li>
			<li><a href="protocols.html">протоколи</a></li>
			<li><a href="drugs.html">ліки</a></li>
			<li><a href="#" data-ng-click="openF1()"> Підказка <small>(F1)</small>
			</a></li>
		</ul>
	</span>
	<hr/>
<div class="container">
	<div class="row">
		<div class="col-xs-12">
			<span class="navbar-right">
				<a href="#" data-ng-click="archiveOrNot(false)"> Список пацієнтів </a>
				|
				<a href="#" data-ng-click="archiveOrNot(true)"> Архів </a>
			</span>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-6">
			<div class="input-group">
				<span class="input-group-addon">Пошук:</span>
				<input ng-model="seekPatient" type="text" class="form-control"
				data-ng-change="filterPatients()"
				placeholder="Пацієнт пошук / запис" auto-focus=""
				/>
			</div>
		</div>
		<div class="col-xs-3">
			<button type="button" ng-click="saveNewPatient()" class="btn btn-default">
				<span class="glyphicon glyphicon-floppy-disk"></span>
				Зберегти нового пацієнта
			</button>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-8">
			<table width="100%" class="tablehover">
				<thead><tr><th>#</th><th>ПІБ, Поступив, Діагноз </th></tr></thead>
				<tbody data-ng-repeat="patient in patient1sListFilter" >
					<tr 
						data-ng-class="{selected:patient1sListFilter[selectPatientIndex] == patient}"
						data-ng-click="clickItem($index)"
						data-ng-dblclick="openItem($index)"
					>
					<td>{{patient.PATIENT_ID}}</td>
					<td ng-context-menu="menuPatientList"
						ng-show="!patient.patientUpdateOpen"><a
								id="patient_{{patient.PATIENT_ID}}"
								href="patient.html?id={{patient.PATIENT_ID}}">
									{{patient.PATIENT_NAME}} <span
									data-ng-show="patient.PATIENT_HISTORYID"> № іх <!-- ІХ -->
										<u>{{patient.PATIENT_HISTORYID}} </u></span>
							</a></td>
					<td ng-context-menu="menuPatientList" ng-show="patient.patientUpdateOpen">
						<div class="row">
							<div class="col-xs-5">
								<input ng-model="patient.PATIENT_NAME" type="text" class="form-control" />
							</div>
							<div class="col-xs-3">
								<button title="Зберегти" type="button" ng-click="updatePatient(patient)" class="btn btn-default">
									<span class="glyphicon glyphicon-floppy-disk"></span>
								</button>
								<span title="Вийти" class="close navbar-right" data-ng-click="patient.patientUpdateOpen = false">
									<span class="glyphicon glyphicon-share-alt"></span>
									<!-- 
									<span class="glyphicon glyphicon-remove-sign"></span>
									<span class="glyphicon glyphicon-remove-circle"></span>
									 -->
								</span>
							</div>
						</div>
					</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>

	<script src="/js-vendor/jquery-2.1.1.min.js"></script>
	<script src="/js-vendor/bootstrap.min.js"></script>
	<script src="/js-vendor/angular.min.js"></script>
	<script src="/js-vendor/angular-sanitize.min.js"></script>
	<script src="/js-vendor/ui-bootstrap-tpls-0.11.0.js"></script>
	<script src='/js-vendor/textAngular-sanitize.min.js'></script>
	<script src='/js-vendor/textAngular.min.js'></script>
	<script src="/js/cuwy1.config.js"></script>
	<script src="/js/cuwy1.directives.js"></script>
	<script src="/db/patient1sList.json.js"></script>
	<script src="/js/patientsCtrl.js"></script>

</body>
</html>
