<!DOCTYPE html>
<html data-ng-app="cuwyApp" data-ng-controller="p24hDocCtrl">
<head>
	<meta charset="utf-8" />
	<title>{{p24hDoc.PRESCRIBE_NAME}}{{siteMap.title}}</title>
	<link href='/css-vendor/font-awesome.min.css' rel='stylesheet prefetch'/>
	<link href="/css-vendor/bootstrap.css" rel="stylesheet"/>
	<link href="/css/cuwy1-cpoe-hol1.css" rel="stylesheet"/>
</head>

<body data-key-cuwytrap="" >
	<a id="focus_minus_2"
		data-ng-class="{'selected': p24hDoc.pageDeepPositionIndex == -2}"
		href="home.html"><span class="glyphicon glyphicon-home"></span></a> 
/	<a id="focus_minus_1"
		data-ng-class="{'selected': p24hDoc.pageDeepPositionIndex == -1}"
		href="protocols.html">Список КП:призначень</a> 
/	<a id="focus_0"
		data-ng-class="{'selected': p24hDoc.pageDeepPositionIndex == 0}"
		href="prescribes24h.html?id={{parameters.id}}"> <span class="h1">
			<u>{{p24hDoc.PRESCRIBE_NAME}}</u> {{siteMap.name}}</span>
	</a>
	<span class="navbar-right">
		<ul class="nav nav-pills">
			<li><a href="#" data-ng-click="openF1()"> Підказка <small>(F1)</small> </a></li>
			<li><a data-ng-click="newPrescribes()" href="#"> новий лист призначень </a> </li>
			<li data-ng-class="{'disabled': numberOfChange == 0}">
				<a data-ng-click="savePrescribes()" href="#"  title="Запис (Ctrl_S, F9). {{numberOfChange}} незбережених змін">
					<span class="glyphicon glyphicon-floppy-disk"></span>
					{{numberOfChange}}
				</a>
			</li>
		</ul>
	</span>
<hr/>
<div class="container">
	<div class="row">
		<div class="col-xs-12">
			<div data-ng-repeat="prescribeHistory in p24hDoc.prescribesHistory"
				data-ng-init="prescribeHistoryIndex = $index;"
			>
				<span title="{{prescribeHistory.date | date:'HH:mm:ss'}}"
					data-ng-click="collapseDayPrescribe(prescribeHistoryIndex)"
					class="mouseover"
					data-ng-class="{selectpath:dayInSelectPath(prescribeHistoryIndex),
									selected:daySelected(prescribeHistoryIndex) }"
				>
				{{prescribeHistory.date | date:'dd-MM-yyyy '}}
				<small>
					{{prescribeHistory.date | date:'HH:mm'}}
				</small>
<!-- 
				<input id="patientDob{{$index}}" name="patientDob{{$index}}" 
					ng-model="prescribeHistory.date"
					ng-click="open($event)"
					is-open="opened"
					datepicker-options="dateOptions"
					datepicker-popup="dd-MM-yyyy" 
				/>
					class="form-control input-sm"
					datepicker-popup="yyyy-MM-dd" 
					class="form-control input-sm" type="text" placeholder="д.н. (дд-мм-рррр)"
					datepicker-popup="dd-MM-yyyy" is-open="opened"
					datepicker-options="dateOptions" ng-required="true"
 -->
				</span>
				<a href="#" data-ng-click="collapseDayPrescribe(prescribeHistoryIndex)" >
					<span class="glyphicon glyphicon-folder-{{!prescribeHistory.isCollapsed?'open':'close'}}"></span>
				</a>
				<span class="navbar-right">
				<a id="print2_{{prescribeHistoryIndex}}" href="/print2_md_form_nr_011-o.html?pid={{parameters.id}}&phi={{prescribeHistoryIndex}}">
					<span class="glyphicon glyphicon-print"></span>
				</a>
				</span>
				<table data-ng-show="!prescribeHistory.isCollapsed" class="tablehover">
					<colgroup>
						<col style="width: 2px;"></col>
					</colgroup>
					<caption>
					</caption>
					<thead>
						<tr>
				<th class="mouseover" data-ng-context-menu="menuTasksAll" colspan="2" >Призначене лікування</th>
				<th data-ng-repeat="dayHour in dayHours"
					data-ng-init="lpHour = getLp24hourStr(dayHour)"
				>
					|
					<u data-ng-show="lpHour == prescribeStartHour ">
					{{lpHour}}
					</u>
					<span data-ng-show="lpHour != prescribeStartHour ">
					{{lpHour}}
					</span>
				</th>
							<th>|</th>
						</tr>
					</thead>
					<tbody data-ng-repeat="taskInDay in prescribeHistory.tasksInDay"
						data-ng-init="taskInDayIndex = $index"
					>
						<tr data-ng-class="{selected:prescribeHistory.prescribes.tasks[taskInDayIndex].selectMultiple}">
								<td class="hover"
									data-ng-click="selectMultiple(taskInDayIndex, prescribeHistory)">
									<u data-ng-show="prescribeHistory.prescribes.tasks.length == taskInDayIndex + 1">{{taskInDayIndex + 1}}</u> 
									<span data-ng-show="prescribeHistory.prescribes.tasks.length != taskInDayIndex + 1">{{taskInDayIndex + 1 }}</span>
								</td>
								<td 
									data-ng-click="openPrescribeDrugDialog(taskInDay, taskInDayIndex, prescribeHistory);"
									data-ng-class="{	selectpath:taskInSelectPath(taskInDayIndex, prescribeHistory),
														selected:taskSelected(taskInDayIndex, prescribeHistory) }"
									ng-context-menu="menuTask"
									title="{{taskInDay.isCollapsed}}"
								>
								{{prescribeHistory.prescribes.tasks[taskInDayIndex].DRUG_NAME == null
								? ".":prescribeHistory.prescribes.tasks[taskInDayIndex].DRUG_NAME}}
								<small data-ng-show="prescribes.tasks[$index].dose.DOSECONCENTRATON_NUMBER">
									{{prescribeHistory.prescribes.tasks[taskInDayIndex].dose.DOSECONCENTRATON_NUMBER
									}}{{prescribeHistory.prescribes.tasks[taskInDayIndex].dose.DOSECONCENTRATON_UNIT}}
								</small>
								<span>
									{{prescribeHistory.prescribes.tasks[taskInDayIndex].dose.DOSE_NUMBER}}
									{{prescribeHistory.prescribes.tasks[taskInDayIndex].dose.DOSE_UNIT}}
									{{prescribeHistory.prescribes.tasks[taskInDayIndex].dose.DOSE_ROUTE_OF_ADMINISTRATION}}
								</span>
							</td>
							<td data-ng-repeat="dayHour in dayHours"
							 ng-init="dayHourIndex = $index"
							 data-ng-click="useHour(taskInDay, taskInDayIndex, dayHourIndex, prescribeHistory)"
							> . 
								<span 
								data-ng-show="isMinus(taskInDayIndex, dayHourIndex, prescribeHistory)"
								class="glyphicon glyphicon-minus"></span>
							</td>
							<td>.</td>
						</tr>
			<tr data-ng-if="taskInDay.isCollapsed" data-ng-controller="taskInDayCtrl" >
				<td />
				<td class="well" colspan="25">
				{{prescribeHistory.prescribes.tasks[taskInDayIndex].DRUG_NAME}}
				<div >
			<table class="dose">
				<tr>
					<th>Медикамент:_______</th>
					<th title="Концентрація">--</th>
					<th title="Одиниці виміру концентрації">
						<span 
						data-ng-repeat="doseConcentrationUnit in ['%', 'мг/мл']"
						data-ng-click="newDrugDocumentDose.DOSECONCENTRATON_UNIT = doseConcentrationUnit"
						><span data-ng-show="$index != 0">|</span>{{doseConcentrationUnit}}</span>
					</th>
					<th></th>
					<th title="Кількість">--</th>
					<th title="Одиниці виміру">
						<span 
						data-ng-repeat="doseUnit in ['мл', 'таб', 'мг', 'г']"
						data-ng-click="newDrugDocumentDose.DOSE_UNIT = doseUnit"
						><span data-ng-show="$index != 0">|</span>{{doseUnit}}</span>
					</th>
					<th title="Шлях введення">
						<span 
						data-ng-repeat="doseRouteOfAdministration in ['в/в', 'в/м', 'п.о.']"
						data-ng-click="newDrugDocumentDose.DOSE_ROUTE_OF_ADMINISTRATION = doseRouteOfAdministration"
						><span data-ng-show="$index != 0">|</span>{{doseRouteOfAdministration}}</span>
					</th>
				</tr>
				<tr>
					<td><input type="text" class="form-control"
						data-ng-model="editedPrescribeDrug.DRUG_NAME"
						data-ng-change="filterDrugs()" auto-focus=""
						data-ng-focus="changeDialogTab('drug')"
						placeholder=" пошук / запис"></td>
					<!-- 
						data-ng-blur="changeDialogTab('dose')"
					 -->
					<td> <input id="dose1" 
						data-ng-focus="changeDialogTab('dose')"
						data-ng-model="editedPrescribeDrug.dose.DOSECONCENTRATON_NUMBER" type="text" class="form-control" /> </td>
					<td> <input
						data-ng-focus="changeDialogTab('dose')"
					 ng-model="editedPrescribeDrug.dose.DOSECONCENTRATON_UNIT" type="text" class="form-control" /> </td>
					<td>-</td>
					<td> <input
							data-ng-focus="changeDialogTab('dose')"
					 ng-model="editedPrescribeDrug.dose.DOSE_NUMBER" type="text" class="form-control" /> </td>
					<td> <input 
					data-ng-focus="changeDialogTab('dose')"
					ng-model="editedPrescribeDrug.dose.DOSE_UNIT" type="text" class="form-control" /> </td>
					<td> <input 
					data-ng-focus="changeDialogTab('dose')"
					ng-model="editedPrescribeDrug.dose.DOSE_ROUTE_OF_ADMINISTRATION" type="text" class="form-control" /> </td>
					<td> &nbsp; </td>
				</tr>
				<tr>
					<td></td>
					<td colspan="7">
				<table>
					<tr>
						<td>
						<span data-ng-click="prescribeHoursLeft(prescribeHistory.prescribes.tasks[taskInDayIndex])" 
						class="glyphicon glyphicon-arrow-left"></span>
						||
						</td>
						<td data-ng-repeat="hour2prescribe in getHoures2prescribe(prescribeHistory.prescribes.tasks[taskInDayIndex])">
						<span data-ng-click="prescribeHourLeft(prescribeHistory.prescribes.tasks[taskInDayIndex], hour2prescribe)" class="glyphicon glyphicon-arrow-left"></span>
							{{hour2prescribe}}
						<span data-ng-click="prescribeHourRight(prescribeHistory.prescribes.tasks[taskInDayIndex], hour2prescribe)"  class="glyphicon glyphicon-arrow-right"></span>
						|
						</td>
						<td>
						|
						<span data-ng-click="prescribeHoursRight(prescribeHistory.prescribes.tasks[taskInDayIndex])"
						class="glyphicon glyphicon-arrow-right"></span>
						</td>
					</tr>
				</table>
					</td>
				</tr>
			</table>
				<div data-ng-show="taskInDay.dialogTab == 'drug'">
					<div data-ng-repeat="drug in drug1sListFilter ">
						<div class="mouseover" data-ng-class="{
			selectpath:drug1sListFilter[selectDrugIndex] == drug,
			selected:drug1sListFilter[selectDrugIndex] == drug }"
			data-ng-click="drugToTask3(drug)">
								{{drug.DRUG_NAME}} 
						</div>
					</div>
				</div>
				<div data-ng-show="taskInDay.dialogTab == 'dose'">
					<span data-ng-repeat="dose in drugDocument.doses">
						<span data-ng-click="addDoseToPrescribeDrug(dose)"
						class="mouseover" data-ng-class="{
				selectpath:drugDocument.doses[selectDoseIndex] == dose,
				selected:drugDocument.doses[selectDoseIndex] == dose }"
						>
						<small
							data-ng-show="dose.DOSECONCENTRATON_NUMBER">
								{{dose.DOSECONCENTRATON_NUMBER}}{{dose.DOSECONCENTRATON_UNIT}}
						</small> {{dose.DOSE_NUMBER}} {{dose.DOSE_UNIT}}
							{{dose.DOSE_ROUTE_OF_ADMINISTRATION}}</span>
							|
					</span>
				</div>
			</div>
				<span class="close navbar-right"> <small> Додаток: 
				<a href="/drug.html?id={{prescribeHistory.prescribes.tasks[$index].DRUG_ID}}">
					{{prescribeHistory.prescribes.tasks[$index].DRUG_NAME}} </a>
					</small>
				</span>
			</td>
			</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>

<hr/>
<a href="patients.html">Список пацієнтів</a>
|
<a href="protocols.html">Клінічні протоколи</a>

	<script src="/js-vendor/jquery-2.1.1.min.js"></script>
	<script src="/js-vendor/bootstrap.min.js"></script>
	<script src="/js-vendor/angular.min.js"></script>
	<script src="/js-vendor/angular-sanitize.min.js"></script>
	<script src="/js-vendor/ui-bootstrap-tpls-0.11.0.js"></script>
	<script src='/js-vendor/textAngular-sanitize.min.js'></script>
	<script src='/js-vendor/textAngular.min.js'></script>
	<script src="/js/cuwy1.config.js"></script>
	<script src="/js/cuwy1.directives.js"></script>

	<script src="/js/cuwy1.config.js"></script>
	<script src="/js/cuwy1.directives.js"></script>
	<script src="/db/drug1sList.json.js"></script>
	<script src="/js/prescribes24hCtrl.js"></script>
	<script src="/js/taskInDayCtrl.js"></script>

</body>
</html>
