<!DOCTYPE html>
<html ng-app="cuwyApp" ng-controller="protocolsCtrl">
<head>
	<meta charset="utf-8" />
	<title>{{siteMap.title}}</title>
	<link href="/css-vendor/bootstrap.css" rel="stylesheet"/>
	<link href="/css/cuwy1-cpoe-hol1.css" rel="stylesheet"/>
</head>
<body>
<a href="home.html"><span class="glyphicon glyphicon-home"></span></a>
/ <span class="h1">{{siteMap.name}}</span>
<hr/>
<div class="container">
	<div class="row">
		<div class="col-xs-12">
		//
		<span class="navbar-right">
				<a href="#" data-ng-click="prescribeListOrArchive = false; seekPatient = ''">
					Список призначень
				</a>
				|
				<a href="#" data-ng-click="prescribeListOrArchive = true; seekPatient = ''">
					Архів
				</a>
				|
				<a href="#" data-ng-click="reloadFromDb()" title="Поновити список">
					<span class="glyphicon glyphicon-upload"></span>
				</a>
			</span>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-6">
			<div class="input-group">
				<span class="input-group-addon">Пошук:</span>
				<input ng-model="seekPrescribe" type="text" class="form-control" 
				placeholder="Призначеня пошук / запис" auto-focus=""
				/>
			</div>
		</div>
		<div class="col-xs-3">
			<button type="button" ng-click="saveNewPrescribe()" class="btn btn-default">
				<span class="glyphicon glyphicon-floppy-disk"></span>
				Створити нове призначення
			</button>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-5">
			<table width="100%">
				<thead><tr><th>Nr</th><th>Призначеня</th></tr></thead>
				<tbody data-ng-repeat="prescribe in prescribeOrder1sList | filter: {PRESCRIBE_ARCHIVE:prescribeListOrArchive} | filter: seekPrescribe | limitTo : 12">
				<tr>
					<td>{{prescribe.PRESCRIBE_ID}}</td>
					<td ng-context-menu="menuPrescribeList" ng-show="!prescribe.updateDialogOpen"
						data-ng-class="{bold:prescribe.PRESCRIBE_RECOMMEND}"
					>
					<a href="prescribes24h.html?id={{prescribe.PRESCRIBE_ID}}">
						{{prescribe.PRESCRIBE_NAME}}
					</a>
					</td>
					<td ng-context-menu="menuPrescribeList" ng-show="prescribe.updateDialogOpen">
						<div class="row">
							<div class="col-xs-5">
								<input ng-model="prescribe.PRESCRIBE_NAME" type="text" class="form-control" /> 
								<label> <input type="checkbox" ng-model="prescribe.PRESCRIBE_RECOMMEND"></input> Рекомендовано</label>
							</div>
							<div class="col-xs-3">
								<button title="Зберегти" type="button" ng-click="updatePrescribe(prescribe)" class="btn btn-default">
									<span class="glyphicon glyphicon-floppy-disk"></span>
								</button>
								<span title="Вийти" class="close navbar-right" data-ng-click="prescribe.updateDialogOpen = false">
									<span class="glyphicon glyphicon-share-alt"></span>
								</span>
							</div>
						</div>
					</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="col-xs-5">
			<table width="100%">
				<thead><tr><th>Nr</th><th>Призначеня <small>з сайту: 
				<a target="_blank" href="http://sah.curepathway.com/protocols.html
				">sah.curepathway.com</a>
				</small></th></tr></thead>
				<tbody data-ng-repeat="prescribeOpen in prescribeOrder1sListOpen | filter: {PRESCRIBE_ARCHIVE:prescribeListOrArchive} | filter: seekPrescribe | limitTo : 12">
					<tr>
						<td>{{prescribeOpen.PRESCRIBE_ID}}</td>
						<td><a
							href="prescribes24h.html?s=sah&id={{prescribeOpen.PRESCRIBE_ID}}"
							>{{prescribeOpen.PRESCRIBE_NAME}}
						</a></td>
						</tr>
				</tbody>
			</table>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-6">
			<div class="input-group">
				<span class="input-group-addon">Пошук:</span>
				<input ng-model="seekProtocol" type="text" class="form-control" 
				placeholder="Розділ пошук / запис"
				/>
			</div>
		</div>
		<div class="col-xs-3">
			<button type="button" ng-click="saveNewProtocol()" class="btn btn-default">
				<span class="glyphicon glyphicon-floppy-disk"></span>
				Створити новий розділ
			</button>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-9">
			<table width="100%">
				<thead><tr><th>Nr</th><th>Розділи протоколів</th></tr></thead>
				<tbody data-ng-repeat="protocolOrder in protocolOrder1sList | filter: seekProtocol | limitTo : 12">
					<tr>
					<td>{{protocolOrder.ORDER_ID}}</td>
					<td ng-context-menu="menuProtocolList" ng-show="!protocolOrder.updateDialogOpen">
						{{protocolOrder.ORDER_NAME}}
					</td>
					<td ng-context-menu="menuProtocolList" ng-show="protocolOrder.updateDialogOpen">
						<div class="row">
							<div class="col-xs-5">
								<input ng-model="protocolOrder.ORDER_NAME" type="text" class="form-control" />
							</div>
							<div class="col-xs-3">
								<button title="Зберегти" type="button" ng-click="updateProtocol(protocolOrder)" class="btn btn-default">
									<span class="glyphicon glyphicon-floppy-disk"></span>
								</button>
								<span title="Вийти" class="close navbar-right" data-ng-click="protocolOrder.updateDialogOpen = false">
									<span class="glyphicon glyphicon-share-alt"></span>
								</span>
							</div>
						</div>
					</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>

	<script src="/js-vendor/jquery-2.1.1.min.js"></script>
	<script src="/js-vendor/bootstrap.min.js"></script>
	<script src="/js-vendor/angular.min.js"></script>
	<script src="/js-vendor/angular-sanitize.min.js"></script>
	<script src="/js-vendor/ui-bootstrap-tpls-0.11.0.js"></script>
	<script src='/js-vendor/textAngular-sanitize.min.js'></script>
	<script src='/js-vendor/textAngular.min.js'></script>
	<script src="/js/cuwy1.config.js"></script>
	<script src="/js/cuwy1.directives.js"></script>
	<script src="/db/protocolOrder1sList.json.js"></script>
	<script src="/db/prescribeOrder1sList.json.js"></script>
	<script src="http://sah.curepathway.com/db/prescribeOrder1sListOpen.json.js"></script>
	<script src="http://sah.curepathway.com/db/protocolOrder1sListOpen.json.js"></script>
	<script src="/js/protocolsCtrl.js"></script>

</body>
</html>
