<!DOCTYPE html>
<html ng-app="cuwyApp" ng-controller="tagsCtrl">
<head>
	<meta charset="utf-8" />
	<title>{{siteMap.title}}</title>
	<link href="/css-vendor/bootstrap.css" rel="stylesheet"/>
	<link href='/css-vendor/font-awesome.min.css' rel='stylesheet prefetch'/>
	<link href="/css/cuwy1-cpoe-hol1.css" rel="stylesheet"/>
</head>
<body key-cuwytrap="">
	<a id="focus_minus_1"
		data-ng-class="{'selected': pageDeepPositionIndex == -1}"
		href="home.html"><span class="glyphicon glyphicon-home"></span></a>
/	<a id="focus_0"
		data-ng-class="{'selected': pageDeepPositionIndex == 0}"
		href="tags.html"> <span class="h1">{{siteMap.name}}</span>
	</a>
	<span class="navbar-right">
		<ul class="nav nav-pills">
			<li><a href="patients.html">пацієнти</a></li>
			<li><sub>.</sub></li>
			<li><a href="protocols.html">шаблони</a></li>
			<li><a href="protocols.html">протоколи</a></li>
			<li><a href="drugs.html">ліки</a></li>
			<li><sub>.</sub></li>
			<li><a href="#" data-ng-click="openF1()"> Підказка <small>(F1)</small>
			</a></li>
		</ul>
	</span>
		<hr/>
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<span class="navbar-right"> <a href="#"
					data-ng-click="filterArchive(false)"> Список ліків </a> | <a
					href="#" data-ng-click="filterArchive(true)"> Архів </a> | <a
					href="#" data-ng-click="reloadFromDb()" title="Поновити список">
						<span class="glyphicon glyphicon-upload"></span>
				</a>
				</span>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-6">
				<div class="input-group">
					<span class="input-group-addon">Пошук:</span> <input
						data-ng-model="seekTag" type="text" class="form-control"
						data-ng-change="filterTags()"
						placeholder="Теги пошук / запис" auto-focus="" />
				</div>
			</div>
			<div class="col-xs-3">
				<button type="button" ng-click="saveNewTag()"
					class="btn btn-default">
					<span class="glyphicon glyphicon-floppy-disk"></span> Записати
					новий тег
				</button>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-6">
				<table width="100%" class="table11hover">
					<tr> <th>ID</th> <th>Тег</th> <th>Прив’язка</th> </tr>
					<!-- 
					<tr data-ng-repeat-start="tag in tagModel.tag1sList">
					 -->
					<tr data-ng-repeat-start="tag in tag1sListFilter">
						<td>{{tag.TAG_ID}}</td>
						<td ng-context-menu="menuTagListItem" class="mouseover"><span
							class="label label-default" data-ng-show="tag.TAG_NAME">{{tag.TAG_NAME}}
						</span></td>
						<td><span class="mouseover" ng-context-menu="menuTagDrugItem">{{tag.DRUG_NAME}}</span>
							<span class="label label-default" data-ng-show="tag.TAG_TAG_NAME">{{tag.TAG_TAG_NAME}}
						</span> {{tag.PRESCRIBE_NAME}} <span
							data-ng-show="tag.DRUG_NAME||tag.TAG_TAG_NAME||tag.PRESCRIBE_NAME">:</span><span
							class="label label-primary" data-ng-show="tag.T1_NAME">{{tag.T1_NAME}} </span>
							</td>
					</tr>
					<tr data-ng-repeat-end="" data-ng-show="tag.error">
						<td colspan="3">
							<div class="alert alert-danger" role="alert">{{tag.error}}
							</div>
						</td>
					</tr>
				</table>
			</div>
			<div class="col-xs-6">
				<b> Логічне дерево тегів </b>
				<ul>
					<li data-ng-repeat="tag1Index in getMapKeys(tagModel.tagTree)"
						data-ng-init="tag1 = tagModel.tag1sList[tagModel.tagsIdIndex[tag1Index]]">
						<span class="label label-default" data-ng-show="tag1.TAG_NAME">{{tag1.TAG_NAME}}</span>
						<ul data-ng-show="tag1.childs">
							<li data-ng-repeat="tag2Index in getMapKeys(tag1.childs)"
								data-ng-init="tag2 = tagModel.tag1sList[tagModel.tagsIdIndex[tag2Index]]">
								<span class="label label-default"
								data-ng-show="tag2.TAG_NAME||tag2.TAG_TAG_NAME">{{tag2.TAG_NAME}}{{tag2.TAG_TAG_NAME}}</span>
								<span data-ng-show="tag2.DRUG_NAME || tag2.PRESCRIBE_NAME">-</span>
								{{tag2.PRESCRIBE_NAME}} <span data-ng-show="tag2.DRUG_NAME">
									{{tag2.DRUG_NAME}}<span data-ng-show="tag2.childs">,</span>
							</span> <span data-ng-repeat="tag3Index in getMapKeys(tag2.childs)"
								data-ng-init="tag3 = tagModel.tag1sList[tagModel.tagsIdIndex[tag3Index]]"
								data-ng-show="tag3.DRUG_NAME"> {{tag3.DRUG_NAME}}<span
									data-ng-show="!$last">,</span>
							</span>
								<ul data-ng-show="tag2.childs">
									<li data-ng-repeat="tag3Index in getMapKeys(tag2.childs)"
										data-ng-init="tag3 = tagModel.tag1sList[tagModel.tagsIdIndex[tag3Index]]"
										data-ng-show="tag3.TAG_NAME"><span
										class="label label-default"
										data-ng-show="tag3.TAG_NAME||tag3.TAG_TAG_NAME">{{tag3.TAG_NAME}}{{tag3.TAG_TAG_NAME}}</span>
									</li>
								</ul>
							</li>
						</ul>
					</li>
				</ul>
			</div>
		</div>
	</div>

	<script src="/js-vendor/jquery-2.1.1.min.js"></script>
	<script src="/js-vendor/bootstrap.min.js"></script>
	<script src="/js-vendor/angular.min.js"></script>
	<script src="/js-vendor/angular-sanitize.min.js"></script>
	<script src="/js-vendor/ui-bootstrap-tpls-0.11.0.js"></script>
	<script src='/js-vendor/textAngular-sanitize.min.js'></script>
	<script src='/js-vendor/textAngular.min.js'></script>
	<script src="/db/cuwy1.config.js"></script>
	<script src="/db/drug1sList.json.js"></script>
	<script src="/db/tagModel.json.js"></script>
	<script src="/js/cuwy1.directives.js"></script>
	<script src="/js/tagsCtrl.js"></script>

</body>
</html>
